html, body{
    scroll-behavior: smooth;
    scroll-snap-points-y: repeat(200px);
  scroll-snap-type: mandatory;
}

a{
    text-decoration: none;
    color: #af4591;
    display: inline;
    cursor: pointer;
}

.hidden{
    display: none !important;
}

.hideMobile{
    display: inline;
}

body{
    max-width: 1800px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

#header{
    display: flex;
    overflow: auto;
    height: 220px;
    background-color: grey;
    align-content: center;
    justify-content: center;
}
#header section{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; 
}

#mainContent{
    display: flex;
    height: auto;
    flex-direction: column;

}

#searchFilters{
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    position: -webkit-sticky;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    height: auto;
    min-height: 120px;
    font-family: 'Gotham', sans-serif;
    /* height: 120px; */
    background-color: White;
    box-shadow: 0px 4px 10px 4px #0000001e;
    margin-top: 10px;
    z-index: 10;
    align-items: flex-start;
    justify-content: flex-start;
}

#searchFiltersHead{
    width: 100%;
    padding-top: 10px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
 
    
    
}

#searchHead{
    font-size: 28px;
    line-height: 135%;
    width: 55vw;
    white-space: normal;
    color: #3A4042;
    font-weight: 300;
    text-align: left;
    transition: 0.2s;
    display: inline;
}

#searchFiltersHead #editSearch{
    display: flex;
    font-weight: 500 !important;
    font-size: 14px;
    align-items: center;
    color: #9f367e;
    border-radius: 50px;
    margin: 0;
    padding: 0px 10px;
    height: 25px;
    background-color: #f5e6f0;
    width: fit-content;
    cursor: pointer;
}

#searchFiltersHead a{
    font-weight: 600;
}



#filter{
    /* background-color: green; */
    display: flex; 
    align-items: flex-start;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    flex-direction: row;
}

#filter .option{
    text-align: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    color: gray;
    padding: 12px 10px;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-right: 16px;
    transition: 0.2s
}

#filter .option.active{
    border: 2px solid #27C4A5;
    background: white;
}

#filter .option p{
    margin: 0;
}

#filter .option.more{
    background-color: #27C4A5;
    color: white;
    border: 2px solid #27C4A5;
    padding: 12px 30px 26px;
    margin-right: 10px;
}

#filter .more:hover{
    border: 2px solid rgb(36, 97, 85);
    color: white !important;
}

#filter .option.more.active{
    background-color: white;
}

.removed{
    display: none;
}

#filter .container.active{
    color: #27C4A5;

}

#filter .more .container.active{
    color: #27C4A5;
}

#filter .option:hover{
    border: 2px solid rgb(36, 97, 85);
}

#moreMenu{
    color: black;
    display: flex;
    flex-direction: column;
    padding: 5px 0px 5px 5px;
    border-radius: 6px;
    overflow-y: scroll;
    position: absolute;
    width: 270px; 
    height: 355px; 
    /* margin-top: 210px; */
    margin-left: -100px;
    /* right: 0; */
    z-index: 100;
    box-shadow: #0000002e 4px 1px 9px 0px;
    
}

#moreMenu .moreMenuBG{
    /* background-color: rgba(255, 255, 255, 0.568) !important;
    -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(3px); */
  background-color: white;
  width: 270px;
  height: 355px;
  position: absolute;
  border-radius: 10px;
  
}

.mobileMore{
    display: none;
}



.arrow-up {
    /* align-self: center; */
    position: relative;
    margin-bottom: -66px;
    z-index: 5;
    margin-top: 5px;
    /* bottom: 60; */
    /* width: 0; 
    height: 0;  */
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(243, 243, 243);
  }

.scrollContainer{
    overflow-y: scroll;
    z-index: 6;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 12px;
}

.scrollContainer .clear{
    color: #AF4591;
    cursor: pointer;
    float: right;
    font-size: 14px;
    align-self: flex-end;
    margin-bottom: -22px
}


.scrollContainer .checkboxTitle{
    font-family: 'Gotham', sans-serif;
    color: #4F1140;
    margin: 4px 0 8px 0;

}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#666D70;
    height: 1px;
  }



/* Checkboxes */

.control {
    font-family: 'Gotham', sans-serif;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 14px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #af4591;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #af4591;
    border-radius: 3rem;
    opacity: 0.3;
    z-index: 99999;
    transform: scale(0);
}


.control-radio .control_indicator {
    border-radius: 50%;
}

.control-radio .control_indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
    transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}.control-radio .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #af4591;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}



@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
0% {
    transform: scale(0);
    }
30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-checkbox input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}
.control-radio input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-radio input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}







#chips{
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: auto;
    
}

#chips::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#chips .chip{
    display: inline-flex;
    align-self: baseline;
    margin-right: 8px;
    padding: 0 4px 0 16px;
    background-color: rgb(241, 241, 241);
    color: #0E856D;
    background-color: #CBF2E8;
    border-radius: 30px;
    font-size: 14px;
    /* transition: 0.2s; */
}

#chips .chip.Clear{
    color: #dd2e0b;
    background-color: #FFF7F5;
    padding: 8px 16px;
    cursor: pointer;
}


.chip a{
    color: #0E856D;
}

.chip p{
    margin: 0;
    height: fit-content;
    align-self: center;
}

.close{
    cursor: pointer;
}


.mapListToggle{
    display: none;
    width: 30px !important;
    height: 30px !important;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    background-color: #af4591;
    position: absolute;
    bottom: 80px;
    right: 30;
    font-size: 24px;
    border-radius: 50%;
    padding: 20px !important;
    color: white !important;
    box-shadow: rgb(0,0,0,0.21) 0px 2px 18px 3px;
}


#row{
    display: flex;
    flex-direction: row;
}

#numResults{
    font-family: 'Gotham', sans-serif;
    font-size: 1em;
    color: #b3b6b8;
    padding-left: 10px;
    font-weight: 300;
}

.ANC-Card{
    display: flex;
    flex-direction: row;
    font-family: 'Gotham', sans-serif;
    align-content: center;
    box-shadow: 0 2px 3px 0 rgba(148,153,155,.7);
    width: auto;
    padding: 0px 10px;
    margin: 10px 10px 10px 0px;
    background-color: white;
    border-radius: 2px;
}

.ANC-Card span{
    color: #af4591;
    font-weight: 600;
}


#leftColumn{
    padding-left: 10px;
    flex: 5;
    flex-direction: column ;
    display: flex 
}

#leftColumn a{
    color: black;
}

#loaderDiv{
    height: calc(100vh - 188px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
  border: 6px solid white;
  border-radius: 50%;
  border-top: 6px solid #af4591;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1.2s linear infinite; /* Safari */
  animation: spin 1.2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.provider{
    display: flex;
    flex-direction: row;
    font-family: 'Gotham', sans-serif;
    box-shadow: 0 2px 3px 0 rgba(148,153,155,.7);
    height: 140px !important;
    width: auto;
    margin: 10px 10px 10px 0px;
    padding: 10px 10px 20px 10px;;
    background-color: white;
    border-radius: 2px;
}

/* Begin left half of card */

.provider .leftColumn{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    justify-content: flex-start;
}

.leftColumn .spacer{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}

.provider h2{
    color: #af4591;
    font-size: 1.1em;
    margin: 0;
}

.provider h3{
    color: #383e41;
    font-size: 1em;
    margin: 10px 0 0 0;
}

.provider .fa{
    justify-self: flex-end;
    color: #35844d;
}

.provider .np{
    color: #383e41;
    font-family: 'Gothic', sans-serif;
    font-size: .95em;
    padding-left: 5px;
}

/* Begin right half of card */

.provider .rightColumn{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.provider h4{
    margin: 0;
    font-size: .75em;
}

.provider address{
    font-size: .85em;
}

.provider phone{
    font-size: .85em;
}


.provider .milesDist{
    font-size: .75em;
    
}

.provider .letter{
    color: white;
    background-color: #af4591;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}




#pagination{
    background-color: white;
    position: -webkit-sticky;
    box-shadow: 0px -4px 10px 4px #0000001e;
    position: sticky;
    height: 60px;
    bottom: -1;
    margin-left: -10px;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#pagination .nav{
    display: flex;
    color: #af4591;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

#pagination .nav:focus{
    color: #861f62;
}

#pagination .nav i{
    padding: 0 5px;
}

#pagination #nums .active{


    
    text-align: center;
    vertical-align: middle;
    background-color: #af4591 !important;
    border-radius: 50% !important;
    color: white !important;
    
}

#pagination #nums{
    display: flex;
    flex: 5;
    flex-direction: row;
    font-family: 'Gotham', sans-serif;
    justify-content: space-around;
    align-items: baseline;
    max-width: 300px;
}

#pagination #nums h5{
    
    padding: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

#pagination #nums a{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    color: inherit;
    text-align: center;
}

.navNext{
    justify-content: flex-end;
}



/* #pagination p{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; 
} */

#pagination a{
    height: 40px;
    max-height: 40px;
    padding: 10px;
    width: auto;
    text-decoration: none;
    font-family: 'Gotham', sans-serif;
}

.disabled{
    color: gray !important;
    cursor: not-allowed;
}

#map{
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 150;
    flex: 7;
    margin: 10px 0px;
    color: white;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 150px);
}

#googleMap{
    flex: 1;
}

#pagination{
    width: auto;
}

#footer{
    display: flex;
    overflow: auto;
    height: 450px;
    background-color: grey;
    align-content: center;
    justify-content: center;
}

#footer section{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; 
}

@media only screen and (max-width: 769px) and (min-width: 481px) {
    #filter .more:hover{
        color: white;
        border: 2px solid #27C4A5;
    }
    #filter .option:hover{
        border: 2px solid lightgray;
    }

    #filter .option.more:hover{
        border: 2px solid #27C4A5;
    }

    #filter .option.active:hover{
        border: 2px solid #27C4A5;
    }

    .mobileMore{
        display: block;
    }

    #map{
        display: none;
    }

    #searchHead{
        width: 75vw;
        font-size: 18px; 
        white-space: normal; 
        width: auto;
    }

    #searchFiltersHead{
        flex-direction: row-reverse; 
        justify-content: flex-end; 
        align-items: baseline; 
        padding-top: 0;
    }

    #searchFiltersHead #editSearch{
        margin-right: 10px;
        margin-left: 18px;
    }

    #searchFilters{
        padding: 10px 0px 10px 10px;
    }
    

    #searchFiltersHead #editSearch{
        margin-right: 10px;
    }

    .mapListToggle{display: flex;}

    #pagination{
        width: auto;
    }

    #leftColumn{
        padding-left: 0;
    }

    .provider{
        margin: 10px 5px;
    }

    .ANC-Card{
        margin: 10px 5px
    }

    #filter .option{
        font-size: 12px;
    }

    #filter .option.Affiliated{
        display: none;
    }
    #filter .option.Open{
        display: none;
    }
    #filter .option.Handicap{
        display: none;
    }

    #chips .chip{
        font-size: 12px;
    }

  }

  @media only screen and (max-width: 480px) {
    html{
        width: 100vw;
    }

    #filter .more:hover{
        color: white;
        border: 2px solid #27C4A5;
    }
    #filter .option:hover{
        border: 2px solid lightgray;
    }

    #filter .option.more:hover{
        border: 2px solid #27C4A5;
    }

    #filter .option.active:hover{
        border: 2px solid #27C4A5;
    }

    .mobileMore{
        display: block;
    }


    #map{
        display: none;
    }

    #searchFilters{
        padding: 10px 0px 10px 10px;
    }

    #searchHead{
        width: 75vw;
        font-size: 18px; 
        white-space: normal; 
        width: auto;
    }

    #searchFiltersHead{
        flex-direction: row-reverse; 
        justify-content: flex-end; 
        align-items: baseline; 
        padding-top: 0;
    }

    #searchFiltersHead #editSearch{
        margin-right: 10px;
        margin-left: 18px;
    }

    .mapListToggle{display: flex;}



    #leftColumn{
        padding-left: 0;
    }

    .provider{
        margin: 10px 5px;
    }

    .ANC-Card{
        margin: 10px 5px
    }

    #filter{
        width: calc(100% - 10px);
    }

    #filter .option{
        font-size: 12px;
    }

    #filter .option.Affiliated{
        display: none;
    }
    #filter .option.Open{
        display: none;
    }
    #filter .option.Handicap{
        display: none;
    }

    #chips .chip{
        font-size: 12px;
    }

    #pagination{
        padding: 0 5px;
        margin-left: 0;
        bottom: 0;
    }

    .nav{
        padding: 10px 0;
    }

    .nav span{
        display: none;
    }

    #nums a{
        flex: 1;
        padding: 10px 0px;
    }
  }